.card {
    border-radius: 0.5rem;
    background-color: #2ab335;
    color: #FFFFFF;
    width: 85%;
    margin: auto auto auto auto;
    padding-bottom: 1.5rem;
}

.name {
    font-size: 1rem;
}

.circle-img {
    border-radius: 15rem;
    width: 15%;
}

.review {
    font-size: 2rem;
    color: #FFFFFF;
}

.bottom {
    background-color: #39a342;
}