body {
    font-family: 'Oswald', sans-serif;
}

.footer {
    background-color: #FFFFFF;
    padding-bottom: 2rem;
    line-height: 1.0rem;
}

.head-footer {
    color: black;
}

.logo-footer {
    padding-top: 1.2rem;
    width: 35%;
}

.foot-txt{
    color: gray;
    font-weight: bold;
}


@media screen and (min-width: 770px) {
    .logo-footer {
        width: 15%;
    }
}
