.box {
    padding-top: 4.5rem;
    height: 36.7rem;
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), 
    url("../public/images/bg_image_2.png") no-repeat, url("../public/images/insta fries.jpg");
    background-size: 100%;
    padding-bottom: 2rem;
}

.logo {
    width: 20.5rem;
}

.logo-box {
    padding-bottom: 1.1rem;
}

.hook {
    color: #FFFFFF;
    line-height: 0;
}

hr {
    width: 80%;
    height: 0.2rem;
    background-color: #FFFFFF;
}

.info {
    /* display: block; */
    /* text-align: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.hours {
    line-height: 0.2;
}

.fb-site {
    transition: 0.6s;
    margin-left: 1rem;
}

.yelp-site {
    margin-left: 1rem;
}

.fb-site:hover {
    color: rgb(57, 76, 240);
    transition: 0.8s;
}

a {
    transition: 0.6s;
    color: white;
}

a:hover {
    color: red;
    transition: 0.8s;
}

.btn-holder {
    text-align: center;
}

.btn-text {
    color: #FFFFFF;
    font-weight: bold;
    margin: auto;
    text-decoration: none;

}

.menu-button {
    transition: 0.9s;
    margin-top: 2rem;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(244, 45, 45);
    /* background-color: #0070f3; */
    color: white;
    /* font-weight: 400; */
    font-size: 1.1rem;
    box-shadow: 0 4px 14px 0 rgba(255, 255, 255, 0.39);
    /* transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(0,118,255,0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    } */
}

.menu-button:hover {
    background-color: rgb(34, 205, 34);
    transition: 0.9s;
}


@media screen and (min-width: 770px) {
    
    .box {
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), 
    url("../public/images/bg_image_2.png") center no-repeat;
    background-size: 100%;
    /* url("../public/images/skillet-papas.jpg") center no-repeat,  */
    /* url("../public/images/insta-pic.jpg") right no-repeat; */
}

hr {
    width: 30%;
    height: 0.2rem;
    background-color: #FFFFFF;
}






}